<main style="padding-top: 2rem;" class="container">
  <div>
    {% if page.title != blank %}
      <h1 class="page-title">
        {{ page.title }}
      </h1>
    {% endif %}
    {% if page.content != blank %}
      <section class="page-content">
        {{ page.content }}
      </section>
    {% endif %}

   
  </div>
</main>
