<div class="section-background color-{{ section.settings.color_scheme }}"></div>

<div class="section page-width-content color-{{ section.settings.color_scheme }}">
  <div
    class="
      spacing-style
      layout-panel-flex
      layout-panel-flex--column
      section-content-wrapper
      mobile-column
    "
   
  >
    {% if page.title != blank %}
      <h1 class="page-title">
        {{ page.title }}
      </h1>
    {% endif %}

    {% content_for 'blocks' %}
  </div>
</div>
